@font-face {
  font-family: NorTar;
  src: url("../../public/Fonts/nortar/Nortar-Regular.otf");
}
@font-face {
  font-family: MonserratAlternates;
  src: url("../../public/Fonts/montserratAlternates/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../../public/Fonts/montserrat/Montserrat-Bold.otf");
}

