@font-face {
  font-family: NorTar;
  src: url("../../public/Fonts/nortar/Nortar-Regular.otf");
}

@font-face {
  font-family: MonserratAlternates;
  src: url("../../public/Fonts/montserratAlternates/MontserratAlternates-Bold.ttf");
}
@font-face {
  font-family: Montserrat;
  src: url("../../public/Fonts/montserrat/Montserrat-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-family: Nortar;
  font-weight: bold;
  font-size: 2.08333333333vw;
  line-height: 41px;
  color: #004a5d;
  margin-bottom: 100px;
  letter-spacing: 0.02em;
}
