@mixin button {
  color: #0e243c;
  font-size: 16px;
  line-height: 16px;
  background: linear-gradient(96.95deg, #92fe9d 13.59%, #00c9ff 101.28%);
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
@mixin scroll {
  ::-webkit-scrollbar {
    width: 0.57291666666vw;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #9b9898;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #636262;
  }
}
@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin noteBook {
  @media screen and (max-width: 1150px) {
    @content;
  }
}

@mixin afterNotebook {
  @media screen and (max-width: 1600px) {
    @content;
  }
}
